 1. What is the output of

In [15]:
# 1. What is the output of  
print (2 ** 3 ** 2)

512

In [ ]:
print (2 ** 3 ** 2)


2. What is the output of  
print (2 * 3 ** 3 * 4)

In [14]:
print (2 * 3 ** 3 * 4)

216


3. What is the output of  
print (10 - 4 * 2)

In [13]:
print (10 - 4 * 2)

2

 4. What is the output of the expression  
print (-18 // 4)

In [12]:
print (-18 // 4)

-5

5. What is the output of  
print (2%6)

In [11]:
print(2%6)

2

6. What is the output of the following code 
x = 100  
y = 50  
print(x and y) 
print(x or y)

In [10]:
x = 100  
y = 50  
print(x and y) 
print(x or y)

50
100

 7. What is the value of the following Python Expression  
print(36 / 4)

In [9]:
print(36 / 4)

9.0


8. What is the output of the following code? 
"""var1 = 1  
var2 = 2  
var3 = "3"  
print (var1 + var2 + var3)"""

In [8]:
var1 = 1  
var2 = 2  
var3 = "3"  
print (var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'


9. What is the output of the following code? 
p, q, r = 10, 20 ,30  
print(p, q, r)

In [7]:
p, q, r = 10, 20 ,30  
print(p, q, r)

10 20 30

10. What is the output of the following code? 
valueOne = 5 ** 2  
valueTwo = 5 ** 3  
print(valueOne) 
print(valueTwo)

In [6]:
valueOne = 5 ** 2  
valueTwo = 5 ** 3  
print(valueOne) 
print(valueTwo)

25
125

11. What is the output of the following code? 
var = "James" * 2 * 3  
print(var)

In [5]:
var = "James" * 2 * 3  
print(var)

JamesJamesJamesJamesJamesJames

12. What is the output of the following 
x = 36 / 4 * (3 + 2) * 4 + 2

In [4]:
x = 36 / 4 * (3 + 2) * 4 + 2  
print(x)

182.0

 13. What is the data type of  
 print(type (10))

In [3]:
print(type (10))

<class 'int'>

14. Creating an int variable, float variable, string variable and assign the  
values to the above three variable names

In [2]:
num1 =10
num2 =10.0
string1= "10"
print(num1,type(num1).__name__)
print(num2,type(num2))
print(string1,type(string1))

10 int
10.0 <class 'float'>
10 <class 'str'>


15.  Create Integer number 

- Roll number is: 33  
- <class 'int'>  
- 25  
- <class 'int'>

In [1]:
Roll_number = 33
print("Roll number is:",Roll_number)
print(type(Roll_number))

Roll number is: 33
<class 'int'>